<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Конвертер валют</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/converter.css') }}">
</head>
<body>
  <div id="converter">
    <form method="post" action="">
        <h2>Конвертер валют</h2>
        <label for="amount">Сумма:</label>
        <input type="number" id="amount" name='amount' placeholder="Введите сумму" step="0.01" required>

        <label for="fromCurrency">Из валюты:</label>
        <select id="fromCurrency" name="fromCurrency" required>
          <option value="USD">Доллар США (USD)</option>
          <option value="EUR">Евро (EUR)</option>
          <!-- Добавить другие валюты -->

        </select>

        <label for="toCurrency">В валюту:</label>
        <select id="toCurrency" name="toCurrency" required>
          <option value="USD">Доллар США (USD)</option>
          <option value="EUR">Евро (EUR)</option>
          <!-- Добавить другие валюты -->
        </select>

        <button onclick="" style='margin-top: 10px;'>Конвертировать</button>
        <h3>Результат:</h3>
        <div id="result"></div>
    </form>
  </div>
</body>
</html>
