<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Конвертер валют</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/converter.css') }}">
</head>
<body>
  <header>
    <h1>Конвертер валют</h1>
  </header>
  <nav>
    <a href="{{ url_for('index') }}">Главная</a>
    <a href="#">2 кнопка</a>
    <a href="#">3 кнопка</a>
    <a href="{{ url_for('converter') }}">Конвертер валют</a>
  </nav>
  <form id="converterForm">
    <select id="inputCurrency" onchange="convert1()">
      <option value="usd">USD</option>
      <option value="eur">EUR</option>
      <option value="gbp">GBP</option>
      <!-- Добавьте другие валюты по необходимости -->
    </select>
    <input type="number" id="inputValue" step="any" oninput="convert1()">
  </form>

  <form id="resultForm">
    <select id="outputCurrency" onchange="convert2()">
      <option value="usd">USD</option>
      <option value="eur">EUR</option>
      <option value="gbp">GBP</option>
      <!-- Добавьте другие валюты по необходимости -->
    </select>
    <input type="number" id="outputValue" step="any" oninput="convert2()">
  </form>
    <!-- Временные функции -->
    <script>
      function convert1() {
        // Получаем значение из первой формы
        var inputValue = parseFloat(document.getElementById('inputValue').value);

        // Выполняем конвертацию (в данном случае умножение на 2, как пример)
        var result = inputValue * 2;

        // Выводим результат во второй форме
        document.getElementById('outputValue').value = result;
      }
    </script>
    <script>
      function convert2() {
        // Получаем значение из первой формы
        var outputValue = parseFloat(document.getElementById('outputValue').value);

        // Выполняем конвертацию (в данном случае умножение на 2, как пример)
        var result = outputValue / 2;

        // Выводим результат во второй форме
        document.getElementById('inputValue').value = result;
      }
    </script>
</body>
</html>
