<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интерактивный график</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/imoex_index.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<header>
    <h1>Индекс МосБиржи</h1>
  </header>

  <nav>
    <a href="{{ url_for('index') }}">Главная</a>
    <a href="{{ url_for('interest_rate') }}">Ключевая ставка ЦБ РФ</a>
    <a href="{{ url_for('imoex_index') }}">Индекс МосБиржи</a>
    <a href="{{ url_for('converter') }}">Конвертер валют</a>
  </nav>

<div id="graph-container">
    {{ graph_html|safe }}
    <a href="{{ url_for('download_imoex_index') }}" id="download-button" class="btn btn-primary">CSV</a>
</div>
<div id="table-container">
    <table>
        <tbody>
        <tr>
            <th>Дата</th>
            <th>Значение</th>
        </tr>
        {% for point in data.values %}
            <tr>
                <td>{{ point[0].date() }}</td>
                <td>{{ point[1] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
