<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
  <header>
    <h1>Главная страница</h1>
  </header>

  <nav>
    <a href="{{ url_for('index') }}">Главная</a>
    <a href="{{ url_for('interest_rate') }}">Ключевая ставка ЦБ РФ</a>
    <a href="{{ url_for('imoex_index') }}">Индекс МосБиржи</a>
    <a href="{{ url_for('converter') }}">Конвертер валют</a>
  </nav>
</body>
</html>
